* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 2rem auto;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
  color: #2f4f4f;
}

section {
  margin: 3rem auto;
  max-width: 70rem;
  padding: 0 1rem;
}

h1,
h2 {
  margin: 1rem 0 1.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

article h2 {
  text-align: left;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}

p,
pre {
  line-height: 1.4;
}

p {
  font-size: 1.2rem;
  padding: .5rem;
}

pre {
  font-size: 1.3rem;
  font-family: monospace;
}

.cell,
.row {
  margin-bottom: 1.5rem;
}

.cell,
.gcell {
  background-color: #f1f1f1;
  border: 1px solid #2f4f4f;
}

.cell p,
.gcell p {
  text-align: center;
}

.nested aside,
.nested main {
  border: dashed 1px #2f4f4f;
}

@media (min-width: 61.25em) {
  .row {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .row.even.one-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.two-col .cell {
    width: calc(50% - 5px);
  }
  .row.even.three-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.four-col .cell {
    width: calc(100% - 5px);
  }
  .cell.two-twelve {
    width: calc(100% - 5px);
  }
  .cell.three-twelve {
    width: calc(100% - 5px);
  }
  .cell.five-twelve {
    width: calc(100% - 5px);
  }
  .cell.eight-twelve {
    width: calc(100% - 5px);
  }
  .cell.nine-twelve {
    width: calc(100% - 5px);
  }
  .cell.two-eleven {
    width: calc(100% - 5px);
  }
  .cell.four-eleven {
    width: calc(100% - 5px);
  }
  .cell.one-eleven {
    width: calc(100% - 5px);
  }
  .nested {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nested aside {
    width: calc(33.33333% - 5px);
  }
  .nested main {
    width: calc(66.66667% - 5px);
  }
  .gcell {
    width: calc(50% - 10px);
  }
}

@media (min-width: 48em) {
  .row {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .row.even.one-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.two-col .cell {
    width: calc(50% - 5px);
  }
  .row.even.three-col .cell {
    width: calc(33.33333% - 5px);
  }
  .row.even.four-col .cell {
    width: calc(25% - 5px);
  }
  .cell.two-twelve {
    width: calc(16.66667% - 5px);
  }
  .cell.three-twelve {
    width: calc(25% - 5px);
  }
  .cell.five-twelve {
    width: calc(41.66667% - 5px);
  }
  .cell.eight-twelve {
    width: calc(66.66667% - 5px);
  }
  .cell.nine-twelve {
    width: calc(75% - 5px);
  }
  .cell.two-eleven {
    width: calc(18.18182% - 5px);
  }
  .cell.four-eleven {
    width: calc(36.36364% - 5px);
  }
  .cell.one-eleven {
    width: calc(9.09091% - 5px);
  }
  .gcell {
    width: calc(50% - 10px);
  }
}

.radius-example {
  display: inline-block;
  line-height: 100px;
  border: solid 2px #2f4f4f;
  padding: 0 10px;
}

.radius-example.same-radius {
  border-radius: 16px;
}

.radius-example.custom-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 32px;
}

.border-example {
  display: inline-block;
  line-height: 100px;
  padding: 0 10px;
}

.border-example.border {
  border: 1px solid #000;
}

.border-example.custom-border {
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

@font-face {
  font-family: "Museo";
  src: url("https://dq25e8j0im0tm.cloudfront.net/fonts/museo/museo-sans-500.woff") format("woff"), url("https://dq25e8j0im0tm.cloudfront.net/fonts/museo/museo-sans-500.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.museo {
  font-family: Museo;
}

.tooltip {
  max-width: 20em;
  margin: 0 auto;
  position: relative;
  background: #4fade3;
  padding: .5em;
  border-radius: .15em;
  color: #f1f1f1;
  text-align: center;
  font-weight: bold;
}

.tooltip::before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1em solid #4fade3;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  bottom: -1em;
  left: 50%;
}

.center-holder {
  position: relative;
  height: 300px;
  border: 1px solid #000;
}

.center-holder .centered {
  background-color: #4fade3;
  color: #f1f1f1;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media {
  width: 400px;
  padding: 10px;
  border: 1px solid #000;
  margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.media__img {
  background-color: white;
}

.media__img--small {
  width: calc(25% - 5px);
  padding: 2px;
}

.media__body {
  width: calc(75% - 5px);
}

.media__body h3,
.media__body p {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
}

/*# sourceMappingURL=app.css.map */
