*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 2rem auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: cornsilk;
  color: darkslategray;
}

section {
  margin: 3rem auto;
  max-width: 70rem;
  padding: 0 1rem;
}

h1,
h2 {
  margin: 1rem 0 1.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

article h2 {
  text-align: left;
  padding: 0 0.5rem;
  margin-bottom: .5rem;
}

p,
pre {
  line-height: 1.4;
}

p {
  font-size: 1.2rem;
  padding: 0.5rem;
}

pre {
  font-size: 1.3rem;
  font-family: monospace;
}

.row,
.cell {
  margin-bottom: 1.5rem;
}

.cell,
.gcell {
  background-color: azure;
  border: 1px solid darkcyan;
}

.cell p,
.gcell p {
  text-align: center;
}

.nested aside,
.nested main {
  border: dashed 1px darkcyan;
}

@media (min-width: 46em) {
  .row {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .row.even.one-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.two-col .cell {
    width: calc(50% - 5px);
  }
  .row.even.three-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.four-col .cell {
    width: calc(100% - 5px);
  }
  .cell.two-twelve {
    width: calc(100% - 5px);
  }
  .cell.three-twelve {
    width: calc(100% - 5px);
  }
  .cell.five-twelve {
    width: calc(100% - 5px);
  }
  .cell.eight-twelve {
    width: calc(100% - 5px);
  }
  .cell.nine-twelve {
    width: calc(100% - 5px);
  }
  .cell.two-eleven {
    width: calc(100% - 5px);
  }
  .cell.four-eleven {
    width: calc(100% - 5px);
  }
  .cell.one-eleven {
    width: calc(100% - 5px);
  }
  .nested {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nested aside {
    width: calc(33.33333% - 5px);
  }
  .nested main {
    width: calc(66.66667% - 5px);
  }
  .gcell {
    width: calc(50% - 10px);
  }
}

@media (min-width: 60em) {
  .row {
    margin: 0 auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .row.even.one-col .cell {
    width: calc(100% - 5px);
  }
  .row.even.two-col .cell {
    width: calc(50% - 5px);
  }
  .row.even.three-col .cell {
    width: calc(33.33333% - 5px);
  }
  .row.even.four-col .cell {
    width: calc(25% - 5px);
  }
  .cell.two-twelve {
    width: calc(16.66667% - 5px);
  }
  .cell.three-twelve {
    width: calc(25% - 5px);
  }
  .cell.five-twelve {
    width: calc(41.66667% - 5px);
  }
  .cell.eight-twelve {
    width: calc(66.66667% - 5px);
  }
  .cell.nine-twelve {
    width: calc(75% - 5px);
  }
  .cell.two-eleven {
    width: calc(18.18182% - 5px);
  }
  .cell.four-eleven {
    width: calc(36.36364% - 5px);
  }
  .cell.one-eleven {
    width: calc(9.09091% - 5px);
  }
  .gcell {
    width: calc(50% - 10px);
  }
}

/*# sourceMappingURL=app.css.map */
