/// Default breakpoints.
///
/// @type map
///
/// @group variables
///
/// @property {thin} thin [30em]
///   Thinnest breakpoint setting for breakpoint mixin.
///
/// @property {normal} normal [48em]
///   Medium breakpoint setting for breakpoint mixin.
///
/// @property {wide} wide [61.25em]
///   Widest breakpoint setting for breakpoint mixin.
///
/// @property {full} full [80em]
///   Widest breakpoint setting for breakpoint mixin.
///
/// @access public
$breakpoints: ( thin: 30em, normal: 48em, wide: 61.25em, full: 80em) !default;


/// Default max-width for container mixin.
///
/// @type string
///
/// @group variables
///
/// @access public
$row-width: 100% !default;


/// Default gutter for column mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$gutter-width: 10px !default;


/// Default radius for border-radius mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$border-radius: 6px !default;


/// Default border for border mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$border: 1px solid #000 !default;

/// Default color map.
///
/// @group variables
///
/// @type map
///
/// @access public
$colors: (
    b: (
        base: #00abde,
        darker: #007398,
        dark: #008bb8,
        light: #68cbf2,
        lighter: #bfefff
    ),
    g: (
        base: #70cf36,
        darker: #468222,
        dark: #549c29,
        light: #96d96e,
        lighter: #bee4a7
    ),
    r: (
        base: #ff9a55,
        darker: #e15b00,
        dark: #fb7419,
        light: #ffb480,
        lighter: #f7cfb3
    ),
    m: (
        base: #808080,
        darker: #242424,
        dark: #4d4d4d,
        light: #b3b3b3,
        lighter: #dfdfdf
    )
);

/// Default z-index values.
///
/// @group variables
///
/// @type map
///
/// @access public
$z-index: (
    bump: 10,
    dropdown: 100,
    overlay: 200,
    modal: 300,
    trump: 1000
);
