/// Default breakpoints.
///
/// @type map
///
/// @group variables
///
/// @property {thin} thin [30em]
///   Thinnest breakpoint setting for breakpoint mixin.
///
/// @property {normal} normal [48em]
///   Medium breakpoint setting for breakpoint mixin.
///
/// @property {wide} wide [61.25em]
///   Widest breakpoint setting for breakpoint mixin.
///
/// @property {full} full [80em]
///   Widest breakpoint setting for breakpoint mixin.
///
/// @access public
$breakpoints: ( thin: 30em, normal: 48em, wide: 61.25em, full: 80em) !default;


/// Default max-width for container mixin.
///
/// @type string
///
/// @group variables
///
/// @access public
$row-width: 100% !default;


/// Default gutter for column mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$gutter-width: 10px !default;


/// Default radius for border-radius mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$border-radius: 6px !default;


/// Default border for border mixin.
///
/// @group variables
///
/// @type string
///
/// @access public
$border: 1px solid #000 !default;
