$position-default: null !default; /// Mixin for defining position.
/// This mixin sets the position of an element.
///
/// @group utility
///
/// @param {type} $type [relative] - absolute, relative, fixed
///
/// @param {top} $top [null] - top
///
/// @param {right} $right [null] - right
///
/// @param {bottom} $bottom [null] - bottom
///
/// @param {left} $left [null] - left
///
/// @example scss - Example
///    .foo {
///       @include position(absolute, null null 10px 15px);
///    }
///
/// @example scss - Output
///   .foo {
///        position: absolute;
///        bottom: 10px;
///        left: 15px;
///    }
@mixin position ($pos: relative, $coords: null null null null) {
    @if type-of($pos) == list {
        $coords: $pos;
        $pos: relative;
    }
    $length: length($coords);
    position: $pos;
    @if $length > 0 {
        top: nth($coords, 1);
    }
    @if $length > 1 {
        right: nth($coords, 2);
    }
    @if $length > 2 {
        bottom: nth($coords, 3);
    }
    @if $length > 3 {
        left: nth($coords, 4);
    }
}
