@import "../flexed/flexed";
body {
    margin: 2rem auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: cornsilk;
    color: darkslategray;
}

section {
    margin: 3rem auto;
    max-width: 70rem;
    padding: 0 1rem;
}

h1,
h2 {
    margin: 1rem 0 1.5rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

article h2 {
    text-align: left;
    padding: 0 0.5rem;
    margin-bottom: .5rem;
}

p,
pre {
    line-height: 1.4;
}

p {
    font-size: 1.2rem;
    padding: 0.5rem;
}

pre {
    font-size: 1.3rem;
    font-family: monospace;
}

.row,
.cell {
    margin-bottom: 1.5rem;
}

.cell,
.gcell {
    background-color: azure;
    border: 1px solid darkcyan;
    p {
        text-align: center;
    }
}

.nested {
    aside,
    main {
        border: dashed 1px darkcyan;
    }
}

@include breakpoint(wide) {
    .row {
        @include container();
    }
    .row.even.one-col .cell {
        @include column();
    }
    .row.even.two-col .cell {
        @include column(1/2);
    }
    .row.even.three-col .cell {
        @include column();
    }
    .row.even.four-col .cell {
        @include column();
    }
    .cell.two-twelve {
        @include column()
    }
    .cell.three-twelve {
        @include column()
    }
    .cell.five-twelve {
        @include column()
    }
    .cell.eight-twelve {
        @include column()
    }
    .cell.nine-twelve {
        @include column()
    }
    .cell.two-eleven {
        @include column()
    }
    .cell.four-eleven {
        @include column()
    }
    .cell.one-eleven {
        @include column()
    }
    .nested {
        @include container();
        aside {
            @include column(1/3);
        }
        main {
            @include column(2/3);
        }
    }
    .gcell {
        @include column(1/2, 20px);
    }
}

@include breakpoint(normal) {
    .row {
        @include container();
    }
    .row.even.one-col .cell {
        @include column();
    }
    .row.even.two-col .cell {
        @include column(1/2);
    }
    .row.even.three-col .cell {
        @include column(1/3);
    }
    .row.even.four-col .cell {
        @include column(1/4);
    }
    .cell.two-twelve {
        @include column(2/12)
    }
    .cell.three-twelve {
        @include column(3/12)
    }
    .cell.five-twelve {
        @include column(5/12)
    }
    .cell.eight-twelve {
        @include column(8/12)
    }
    .cell.nine-twelve {
        @include column(9/12)
    }
    .cell.two-eleven {
        @include column(2/11)
    }
    .cell.four-eleven {
        @include column(4/11)
    }
    .cell.one-eleven {
        @include column(1/11)
    }
    .gcell {
        @include column(1/2, 20px);
    }
}

.radius-example {
    display: inline-block;
    line-height: 100px;
    border: solid 2px darksalmon;
    padding: 0 10px;
    &.same-radius {
        @include border-radius(16px);
    }
    &.custom-radius {
        @include border-radius(4px, 8px, 16px, 32px);
    }
}

.border-example {
    display: inline-block;
    line-height: 100px;
    padding: 0 10px;
    &.border {
        @include border();
    }
    &.custom-border {
        @include border(solid 1px #333, top bottom);
    }
}

.clearfix {
    @include clearfix;
}

@include font-face('Museo', 'https://dq25e8j0im0tm.cloudfront.net/fonts/museo/museo-sans-500') .museo {
    font-family: Museo;
}

.box-with-border,
.box {
    @include size(28%, 100px)
    background: #4fade3;
    margin: 24px;
    display: inline-block;
    position: relative;
    span {
        color: #f1f1f1;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 18px;
    }
}

.box-with-border {
    border: 4px solid #4fade3;
    background: #eee;
    span {
        color: #4fade3;
    }
}

.box {
    &.arrow-top-left {
        @include arrow('top', 'left', 10px, #4fade3);
    }
    &.arrow-top-right {
        @include arrow('top', 'right', 10px, #4fade3);
    }
    &.arrow-top-center {
        @include arrow('top', 'center', 10px, #4fade3);
    }
    &.arrow-bottom-left {
        @include arrow('bottom', 'left', 10px, #4fade3);
    }
    &.arrow-bottom-right {
        @include arrow('bottom', 'right', 10px, #4fade3);
    }
    &.arrow-bottom-center {
        @include arrow('bottom', 'center', 10px, #4fade3);
    }
    &.arrow-left-top {
        @include arrow('left', 'top', 10px, #4fade3);
    }
    &.arrow-left-center {
        @include arrow('left', 'center', 10px, #4fade3);
    }
    &.arrow-left-bottom {
        @include arrow('left', 'bottom', 10px, #4fade3);
    }
    &.arrow-right-top {
        @include arrow('right', 'top', 10px, #4fade3);
    }
    &.arrow-right-center {
        @include arrow('right', 'center', 10px, #4fade3);
    }
    &.arrow-right-bottom {
        @include arrow('right', 'bottom', 10px, #4fade3);
    }
}
;
.box-with-border {
    &.arrow-top-left {
        @include arrow('top', 'left', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-top-right {
        @include arrow('top', 'right', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-top-center {
        @include arrow('top', 'center', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-bottom-left {
        @include arrow('bottom', 'left', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-bottom-right {
        @include arrow('bottom', 'right', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-bottom-center {
        @include arrow('bottom', 'center', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-left-top {
        @include arrow('left', 'top', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-left-center {
        @include arrow('left', 'center', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-left-bottom {
        @include arrow('left', 'bottom', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-right-top {
        @include arrow('right', 'top', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-right-center {
        @include arrow('right', 'center', 10px, #eee, #4fade3, 6px);
    }
    &.arrow-right-bottom {
        @include arrow('right', 'bottom', 10px, #eee, #4fade3, 6px);
    }
}

.center-holder {
    position: relative;
    height: 300px;
    @include border;
    
    .centered {
        background-color: aqua;
        color: aliceblue;
        @include size(100px);
        @include center(both);
    }
}